In [16]:
import os
import xgboost
import pandas as pd 
import sklearn
from sklearn.ensemble import RandomForestRegressor 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
import category_encoders as ce
from joblib import dump

In [8]:
pwd

'/Users/yonipineda/Data-Science'

In [12]:
df = pd.read_csv("/Users/yonipineda/Data-Science/airbnb_api/transformed_df.csv")

In [11]:
df.head()

,host_is_superhost,host_listings_count,host_identity_verified,accommodates,bathrooms,price,security_deposit,cleaning_fee,extra_people,minimum_nights,...,time_since_first_review_0-6 months,time_since_first_review_1-2 years,time_since_first_review_2-3 years,time_since_first_review_4+ years,time_since_first_review_6-12 months,time_since_last_review_0-2 weeks,time_since_last_review_1+ year,time_since_last_review_2-6 months,time_since_last_review_2-8 weeks,time_since_last_review_6-12 months
0,0.0,-4.605170,1.0,0.000000,0.0,3.044522,-4.605170,-4.605170,2.302585,4.094345,...,0,0,0,1,0,0,1,0,0,0
1,0.0,0.000000,1.0,1.386294,0.0,4.499810,5.703782,4.605170,2.995732,4.127134,...,0,0,0,1,0,0,0,1,0,0
2,0.0,0.000000,0.0,0.000000,0.0,3.332205,5.521461,3.401197,2.890372,1.945910,...,0,0,0,1,0,0,0,1,0,0
3,0.0,0.000000,1.0,0.693147,0.0,4.828314,-4.605170,3.663562,-4.605170,1.098612,...,0,0,0,1,0,0,0,0,1,0
4,1.0,0.693147,1.0,0.693147,0.0,3.496508,-4.605170,-4.605170,3.218876,1.098612,...,0,0,0,1,0,1,0,0,0,0

In [17]:
df.isnull().sum()

host_is_superhost                     0
host_listings_count                   0
host_identity_verified                0
accommodates                          0
bathrooms                             0
                                     ..
time_since_last_review_0-2 weeks      0
time_since_last_review_1+ year        0
time_since_last_review_2-6 months     0
time_since_last_review_2-8 weeks      0
time_since_last_review_6-12 months    0
Length: 226, dtype: int64

In [18]:
# split into features matrix and target vector
X = df.drop('price', axis=1)
y = df.price

In [19]:
# train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,
                                                    random_state=14)

In [20]:
model = make_pipeline(
    ce.OrdinalEncoder(),
    RandomForestRegressor(n_estimators=100, random_state=42, n_jobs=-1)
)

In [21]:
model.fit(X_train, y_train)
fin = model.predict(X_test)

In [27]:
import pickle

In [28]:
with open('regressor.pkl', 'wb') as f:
    pickle.dump(fin, f)